@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@font-face {
    font-family:idroid;
    src: url(media/fontes/idroid.otf); format:(opentype);
}

header {
    background-image:linear-gradient(to top, #14492c 70%, #3CDB83);
    background-attachment: fixed;
    color: white;
    min-width: 150px;
    text-align: center;
    font-family: Roboto Condensed;
    font-size: 1.3em;
    margin:0px;
    padding: 2px;
    outline: none;
    border: none;
}

header > nav {
    text-align: left;
}
nav > a {
    color: #c3f5d8;
    text-decoration: none;
    padding: 3px;
    margin: 6px;
    border-radius: 3px;
    transition-duration: 0.5s;
}
a:hover {
    background-image: linear-gradient(to bottom, #14492c 70%, rgba(255, 255, 255, 0.26));
    padding: 10px 20px 0px 20px
}

body {
    background-color: #87e0ae;
    margin: 0px;
}

main {
    background-color: white;
    font-family: Roboto Condensed;
    text-align: justify;
    text-indent: 20px;
    min-width: 320px;
    max-width: 800px;
    padding: 16px;
    margin: auto;
    background-attachment: scroll;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
}
main > h1, h2{
    font-family:idroid;
    color: #164d2f;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.815) 25%, #3cdb8493);
}
div.video
{
    background-color: #14492c;    
    margin: 0px -17px 30px -17px;
    padding: 20px;
    padding-bottom: 57.6%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color:#CEF2DE ;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.37);
}
aside > h1 {
    background-color: #32A664;
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
    font-family: Roboto Condensed;
}
aside > p {
   padding: 10px; 
   font-family: Roboto Condensed;
}
aside > ul {
    columns: 2;
    text-align: left;
    text-decoration: none;
    list-style-type: "\2714" ;
}
footer {
    background-color: #164d2f;
    color: white;
    text-align: center;    
    margin: 20px 0px 0px 0px;
    padding: 4px;
}
footer > p {
    margin: 0px;
}